<div class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <div class="dropdown">
            <a class="btn dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/blog">Blog</a>
                <a class="dropdown-item" href="/blog/new">Nova Postagem</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
    </ul>

    <%- include('navbar-user.ejs') %>
</div>